<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body>
<div>
    <div align="center">
        <h1>Kullanıcı Güncelleme</h1>
        <br />
        <form action="#" th:action="@{/update}" th:object="${user}"
              method="post">
            <table cellpadding="10">
                <tr>
                    <td>Kullanıcı ID:</td>
                    <td><input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
                    </td>
                </tr>
                <tr>
                    <td>Kullanıcı Adı:</td>
                    <td><input class="form-control" type="text" th:field="*{username}" /></td>
                </tr>
                <tr>
                    <td><button class="btn btn-info" type="submit">Güncelle</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>