<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcı Listesi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
</head>
<body style="background-image: linear-gradient(to right, #5EE4FF, #5EE4FF, #5EE4FF, #5EE4FF, #5EE4FF);">
<style>
    .btn{
        transition: .2s ease-in-out;
    }
    .btn:hover{
        transform: scale(1.1);
        transition: .2s ease-in-out;
    }
</style>
<div>
    <div align="center">
        <h1>Kullanıcı Listesi</h1>

        <div class="mb-2" sec:authorize="isAuthenticated()">
            Hoşgeldin <b><span sec:authentication="name">Username</span></b> &nbsp;
            <i><span sec:authentication="principal.authorities">Roles</span></i>
        </div>

        <form class="mb-4" th:action="@{/logout}" method="post">
            <input class="btn btn-warning text-white" type="submit" value="Çıkış" />
            <a class="btn btn-secondary" href="/">Anasayfa</a>
        </form>

        <div class="btn btn-primary mb-2" sec:authorize="hasAnyAuthority('ADMIN')">
            <a style="color:white; text-decoration: none;" href="/new">Kullanıcı Ekle</a>
        </div>

        <div class="btn btn-primary mb-2" sec:authorize="hasAnyAuthority('ADMIN')">
            <a style="color:white; text-decoration: none;" href="/newDoc">Doktor Ekle</a>
        </div>

        <table class="table table-light" style="width: 90%; box-shadow: 0px 10px 10px rgba(0,0,0,0.1);">
            <thead>
            <tr class="text-center">
                <th>Kullanıcı ID</th>
                <th>Kullanıcı Adı</th>
                <th>Aktiflik Durumu</th>

                <th sec:authorize="hasAnyAuthority('ADMIN')">İşlem</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="user: ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.username}">User username</td>
                <td th:text="${user.enabled}">User Enabled</td>

                <td sec:authorize="hasAnyAuthority('ADMIN')">
                    <div sec:authorize="hasAnyAuthority('ADMIN')">
                        <a class="btn btn-danger" th:href="@{'/delete/' + ${user.id}}">Sil</a>
                        <a class="btn btn-info" th:href="@{'/edit/' + ${user.id}}">Güncelle</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>